body {
  background-color: rgb(42, 72, 42);
}

.main-container {
  height: 90vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.player-card-container,
.dealer-card-container {
  height: 25vh;
  width: 80vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

.dealer-card-container {
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 30px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(225, 222, 222);
  width: 6rem;
  height: 9rem;

  border-radius: 5%;
}

.deck {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 10%;
  width: 6rem;
  height: 9rem;
  margin-left: -12px;
}

.player-suit,
.dealer-suit {
  width: 4rem;
  height: 4rem;
}

.player-suit-container,
.dealer-suit-container {
  height: 70%;
}

.card-value-container {
  height: 15%;
  width: 100%;
  margin-left: 20px;
}

.player-card-value,
.dealer-card-value,
.player-cards-value,
.dealer-cards-value {
  font-size: 130%;
  display: flex;
  height: 10%;
  width: 90%;
}

.deal-card {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 1.5rem;
  bottom: 5rem;
  left: 1rem;
  width: 4rem;
}

.hold,
.play-again-btn {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 8rem;
  left: 1rem;
  width: 4rem;
  text-align: center;
}

.messeges {
  position: relative;
  font-size: 200%;
  color: rgb(181, 184, 184);
  top: 0rem;
}

.dealer-score-messege,
.player-score-messege {
  font-size: 150%;
  color: rgb(181, 184, 184);
}

.winning-percentage-number {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid grey; */
  height: 4rem;
  width: 6rem;
}

.winning-percentage-messege-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  right: -10rem;
  bottom: 5rem;
  height: 7rem;
  width: 15rem;
  font-size: 150%;
  /* background-color: rgb(181, 184, 184); */
  /* border: 3px solid black; */
  margin-top: -0.7rem;
}

.winning-percentage-messege {
  position: relative;
  text-align: center;
  margin-bottom: -1rem;
}

@media (min-width: 375px) and (max-width: 600px) {
  body {
    height: 80vh;
    width: 90vw;
  }

  .messeges-container {
    position: relative;
    right: 2rem;
    bottom: 2rem;
  }

  .reset-game {
    position: relative;
    top: 16rem;
    left: 17.8rem;
  }

  .deal-card {
    bottom: 15rem;
    left: 18rem;
  }

  .hold,
  .play-again-btn {
    bottom: 18rem;
    left: 18rem;
  }

  .dealer-card-container {
    justify-content: center;
    flex-direction: row;
    margin-top: 40px;
  }
  .player-card-container {
    margin-bottom: 20px;
  }

  .winning-percentage-messege-container {
    justify-content: center;
    align-items: center;
    right: -16rem;
    bottom: 25rem;
    height: 7rem;
    width: 7rem;
    font-size: 125%;
    background-color: transparent;
    border: none;
    color: rgb(181, 184, 184);
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  .main {
    position: relative;
  }
  .main-container {
    justify-content: space-around;
    align-items: flex-start;
  }

  .player-card-container,
  .dealer-card-container {
    margin: 2px;
    margin-bottom: 2px;
  }
  .dealer-card-container {
    position: relative;
    left: 8.5px;
  }
  .player-card-container {
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: -30px;
  }

  .deal-card {
    position: absolute;
    bottom: 8rem;
    left: 35rem;
  }

  .play-again-btn,
  .hold {
    position: absolute;
    bottom: 10rem;
    left: 35.5rem;
  }

  .messeges-container {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    right: 2rem;
    bottom: 21.3rem;
  }
  .messeges {
    font-size: 100%;
    color: rgb(181, 184, 184);
    width: 4rem;

    text-align: center;
    top: 0rem;
  }

  .dealer-score-messege,
  .player-score-messege {
    font-size: 80%;
    color: rgb(181, 184, 184);
    width: 3rem;
    text-align: center;
  }

  .winning-percentage-messege-container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    left: 15rem;
    bottom: 22rem;
    height: 5rem;
    width: 15rem;
    font-size: 125%;
    background-color: transparent;
    /* border: 3px solid black; */
    margin-top: -0.7rem;
  }
  .winning-percentage-messege {
    text-align: center;
    width: 6rem;

    margin-bottom: -1rem;
    font-size: 60%;
    color: rgb(181, 184, 184);
  }
  .winning-percentage-number {
    justify-content: flex-end;
    align-items: center;
    color: rgb(181, 184, 184);
    font-size: 80%;
  }
}
